div#contimgbox {
	background-color: black;
}
.container {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.container:nth-child(1){
	display: flex;
	justify-content: center;
	align-items: center;
}

#loadingTitle {
	position: relative;
	top: 0;
	left: 0;
	max-width: 100%;
	padding: 13px;
	border-bottom: 1px solid #0078c4;
	text-align: center;	
	background:white url(./../images/line-menu-anim.gif) repeat;
}
#loadingTitle input {
	position: absolute;top: 0; right: 0; margin: 9px;
}
picture.photo {
	display: block;
	position: relative;
	max-width: 100%;
	max-height: 100%;
}
picture.photo img{
	display: block;
}
div.loading-animation-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -32px;
	width: 64px;
	height: 64px;
	background: white;
	box-shadow: 0 0 7px white;
	border-radius: 7px;
}
div.loading-animation-wrapper img {
	margin: 8px;
}

#close-button,#previous-image-button,#next-image-button {
	position:absolute;
	/*background: url(./../images/controlsImgBox.svg);*/
	width: 64px;
	height: 32px;
	margin: 0;
	opacity: 1;
	color: black;
	border-width: 0;
	cursor: pointer;
	font-family: tahoma;
	font-size: 18px;
	border-radius: unset;
	text-decoration:none;
	transition:opacity 0.3s;
	-webkit-transition:opacity 0.3s;
	box-shadow:none;
}

.imageview-text{
    position: fixed;
    bottom: 7px;
    margin: 0 auto;
    width: 100%;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

#close-button /* Cloze button */ {
	top: 10px;
	right: 7px;
	text-shadow:none;
	background: url(/static/images/close_btn_default.svg);
	width: 32px;
}
#previous-image-button /* back image link */{
	left: 7px;
	top: 50%;
	margin-top:-16px;
	display: none;
	background: url(/static/images/arrow_left_default.svg);
}
#next-image-button /* back image link */{
	right: 7px;
	top: 50%;
	margin-top:-16px;
	display: none;
	background: url(/static/images/arrow_right_default.svg);
}
#close-button:hover{
	background: url(/static/images/close_btn_active.svg);
}
#previous-image-button:hover {
	background: url(/static/images/arrow_active_left.svg);
}
#next-image-button:hover {
	background: url(/static/images/arrow_active_right.svg);
}
div.photo_load #dBg {overflow: hidden;background: rgba(0,0,0,0.95);}
div#contimgbox.photo_load svg {display: block;opacity: 1;}
div.photo_load #loadingTitle {display: none;}
div.photo_load #clzone,
	div.photo_load #pzone {display: block;}
div.photo_load img.photo {visibility: visible;opacity: 1;}
div.photo_load div.loading-animation-wrapper {display: none;}
div.photo_load #close-button,
	div.photo_load #previous-image-button,
	div.photo_load #next-image-button
	{
			visibility: visible;
}
#contimgbox.hideControls #close-button, #contimgbox.hideControls #previous-image-button,#contimgbox.hideControls #next-image-button,#contimgbox.hideControls .imageview-text{
    visibility: hidden;
}
