script{
    display:none;
}
h1{
    text-align: center;
}

.itemsgrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item{
    display: block;
    width:192px;
    max-width: 192px;
    height: 210px;
    max-height: 210px;
    padding: 10px 0;
}
.item .icon-wrapper{
    height: 144px;
    max-height: 144px;
}
.item img{
    display: block;
    margin: 0 auto;
}
.item .icon .title-wrapper{
    max-height: 58px;
}
.item .icon .title-wrapper, a.content-info-link{
    display: block;
    text-align: center;
    width:192px;
    max-width:192px;
    overflow:hidden;
}
.item object{
    pointer-events: none;
}
form{
    margin-bottom: 1em;
}
.tag_fields{display: inline}

@media screen and (max-width: 500px) {
    body{
        padding: 0;
        margin: 2%;
    }
    .item{
        margin: 1%;
        width: 48%;
        min-width: 144px;
    }
    .item img{
        max-width: 100%;
    }
    .item .icon .title-wrapper, a.content-info-link{
        width: auto;
    }
    .item .icon-wrapper{
        height: auto;
    }
}
