:root {
    --thumbnail-width: 192px;
    --thumbnail-width-min: calc(var(--thumbnail-width) * 75%);
    --thumbnail-height: 144px;
    --item-height: calc(var(--thumbnail-height) + 66px);
}

script{
    display:none;
}
h1{
    text-align: center;
}

.itemsgrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item{
    display: block;
    width: var(--thumbnail-width);
    max-width: var(--thumbnail-width);
    min-width: var(--thumbnail-width-min);
    height: var(--item-height);
    max-height: var(--item-height);
    padding: 10px 0;
}
.item .icon-wrapper{
    height: var(--thumbnail-height);
    max-height: var(--thumbnail-height);
}
.item img{
    display: block;
    margin: 0 auto;
    width: var(--thumbnail-width);
    height: var(--thumbnail-height);
}
.item picture img{
    width: auto;
    height: auto;
}
.item .icon .title-wrapper{
    max-height: 58px;
}
.item .icon .title-wrapper, a.content-info-link{
    display: block;
    text-align: center;
    width: var(--thumbnail-width);
    max-width: var(--thumbnail-width);
    overflow:hidden;
}
.item object{
    pointer-events: none;
}
form{
    margin-bottom: 1em;
}
.tag_fields{display: inline}

/*@media screen and (max-width: 500px) {
    body{
        padding: 0;
        margin: 2%;
    }
    .item{
        margin: 1%;
        width: 48%;
    }
    .item img{
        max-width: 100%;
    }
    .item .icon .title-wrapper, a.content-info-link{
        width: auto;
    }
    .item .icon-wrapper{
        height: auto;
    }
}*/
