.loader-wrapper{
    position: absolute;
    --height: 48px;
    top: calc(50% - var(--height)/2);
    width: 100%;
    max-width: 400px;
    left: calc((100% - min(100%, 400px))/2);
}

.loader-label{
    text-align: center;
}

progress{
    width: 100%;
}

img{
    max-width: 100%;
}