/*** COLOR INDEPENDENT VISUALS ***/

input, textarea, button, select {
    padding: 3px 6px;
    margin: 2px;
}

/*** DARK THEME ***/

body.dark{
    color: #aaa;
    background-color: #2d2d2d;
}

body.dark a{
    color: #999;
}

body.dark a:hover{
    color: white;
}

body.dark input, body.dark textarea, body.dark button, body.dark select {
    background-color: #222;
    color: white;
    border-color: #1a1a1a;
}

body.dark li{
    color: #ccc;
}

/*** DARK PURPLE THEME (Blackcurrant #2a1d39 based) ***/

body.dark-purple{
    color: #A8A2AE;
    background-color: #2a1d39;
}

body.dark-purple a{
    color: #999;
}

body.dark-purple a:hover{
    color: white;
}

body.dark-purple input, body.dark-purple textarea, body.dark-purple button, body.dark-purple select {
    background-color: #21162d;
    color: white;
    border-color: #331d42;
}

body.dark-purple li{
    color: #ccc;
}

body.dark-purple div#contimgbox{
    background-color: #191122;
}

/*** TWILIGHT SPARKLE THEME ***/

body.twilight-sparkle{
    color: #1E093C;
    background-color: #CC9CDF;
    background-image: url("/static/images/ts stars bg2.svg");
}

body.twilight-sparkle a{
    color: #243870;
}

body.twilight-sparkle a:hover{
    color: #652D87;
}

body.twilight-sparkle input, body.twilight-sparkle textarea, body.twilight-sparkle button, body.twilight-sparkle select {
    background-color: #BF89D1;
    color: #1E093C;
    border-color: #A46BBD;
}

body.twilight-sparkle li{
    color: black;
    font-weight: 500;
}

/*** RARITY THEME ***/

body.rarity{
    color: #20476B;
    background-color: #EAEEF0;
}

body.rarity a{
    color: #3977B8;
}

body.rarity a:hover{
    color: #4A1767;
}

body.rarity input, body.rarity textarea, body.rarity button, body.rarity select {
    background-color: #DFE4E3;
    color: inherit;
    border-color: #BDC1C2;
}

body.rarity li{
    color: inherit;
}
