<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="compare_data" content="{{ compare_data_json }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/visuals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/imageCompareVisuals.css') }}">
</head>
<body>
    {% include 'modules/header.html' %}
    <h1>{{ title }}</h1>
    <div id="application-wrapper"></div>
    <script src="{{ url_for('static', filename='dist/imageCompare.bundle.js') }}"></script>
</body>
</html>