<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Content metadata for «{{ file_name }}»</title>
    <style>
        .origin_link{
            display: inline-block;
            margin: 1em 0;
        }

        textarea{
            max-width: 100%;
        }
    </style>
</head>
<body>
    <h1>Content metadata for «{{ file_name }}»</h1>
    <h2>Preview</h2>
    {% if item.icon is not none %}
        <a class="item icon" href="{{ item.link }}" title="{{ item.name }}">
    {% else %}
        <a class="item" href="{{ item.link }}" title="{{ item.name }}">
    {% endif %}
    {% if item.icon is not none %}
        {% if item.sources is not none %}
            <picture>
            {% for source in item.sources %}
                <source srcset="{{ source }}"/>
            {% endfor %}
        {% endif %}
        <img src="{{ item.icon }}"/>
        {% if item.sources is not none %}
            </picture>
        {% endif %}
        <div class="title-wrapper">
            {{ item.name }}
        </div>
    {% endif %}
    </a>
            <h2>Content metadata edit form</h2>
            <form action="{{ request.path }}" method="POST">

                <label for="title">Title:</label>
                <input id="title" type="text" name="content_title" value="{{ content_title }}">
                <br/>

                <label for="origin">Origin:</label>
                <input id="origin" type="text" name="origin_name" value="{{ origin_name }}">
                <br/>

                <label for="origin_id">Origin ID:</label>
                <input id="origin_id" type="text" name="origin_id" value="{{ origin_id }}">
                <br/>

                <label for="description">Description:</label><br/>
                <textarea id="description" rows="12" cols="80" name="description">{{ description }}</textarea>
                <br/>

                <label for="hide_content_checkbox">Is hidden:</label>
                <input id="hide_content_checkbox" type="checkbox" name="hidden"
                {% if hidden %}
                       checked
                {% endif %}
                >
                <br/>

                <h3>Add new tags</h3>

                <div id="tags_fields_wrapper"></div>
                <button id="add_tag_fields_btn">Add tag…</button><br/>

                {% if origin_link is not none %}
                    <a href="{{origin_link}}" class="origin_link">Go to origin</a><br/>
                {% endif %}

                <input type="submit"/>
            </form>
            <script>
                tags_wrappers = document.getElementById("tags_fields_wrapper");
                add_tag_button = document.getElementById("add_tag_fields_btn");

                var tag_counter = 0;

                TAG_CATEGORY = [
                    'artist',
                    'set',
                    'copyright',
                    'original character',
                    'rating',
                    'species',
                    'content',
                    'character'
                ]

                add_tag_button.onclick = function () {
                    let tag_wrapper = document.createElement("div");
                    let tag_name_label = document.createElement("label");
                    let tag_name_id = "tag_name_" + tag_counter;
                    tag_name_label.htmlFor = tag_name_id;
                    tag_name_label.innerText = "Name: ";
                    let tag_name_field = document.createElement("input");
                    tag_name_field.type = "text";
                    tag_name_field.name = "tag_name";
                    tag_name_field.id = tag_name_id;
                    tag_wrapper.appendChild(tag_name_label);
                    tag_wrapper.appendChild(tag_name_field);

                    let tag_category_label = document.createElement("label");
                    let tag_category_id = "tag_category_" + tag_counter;
                    tag_category_label.htmlFor = tag_category_id;
                    tag_category_label.innerText = "Category: ";
                    let tag_category_field = document.createElement("select");
                    tag_category_field.name = "tag_category";
                    tag_category_field.id = tag_category_id;
                    for (let tagCategoryElement of TAG_CATEGORY) {
                        let optionElement = document.createElement("option");
                        optionElement.innerText = tagCategoryElement;
                        tag_category_field.appendChild(optionElement);
                    }
                    tag_wrapper.appendChild(tag_category_label);
                    tag_wrapper.appendChild(tag_category_field);

                    let tag_alias_label = document.createElement("label");
                    let tag_alias_id = "tag_alias_" + tag_counter;
                    tag_alias_label.htmlFor = tag_alias_id;
                    tag_alias_label.innerText = "Alias: ";
                    let tag_alias_field = document.createElement("input");
                    tag_alias_field.type = "text";
                    tag_alias_field.name = "tag_alias";
                    tag_alias_field.id = tag_alias_id;
                    tag_wrapper.appendChild(tag_alias_label);
                    tag_wrapper.appendChild(tag_alias_field);

                    let delete_button = document.createElement("button");
                    delete_button.wrapper_context = tag_wrapper;
                    delete_button.innerText = "Delete tag";
                    delete_button.onclick = function () {
                        tags_wrappers.removeChild(this.wrapper_context);
                        return false;
                    }
                    tag_wrapper.appendChild(delete_button);
                    tags_wrappers.appendChild(tag_wrapper);
                    tag_counter++;
                    return false;
                }
            </script>
            <h2>Content tags list</h2>
            {% for category, tag_list in tags.items() %}
                <h3>{{category}}</h3>
                <ul>
                {% for tag in tag_list %}
                    <li>{{tag}}</li>
                {% endfor %}
                </ul>
            {% endfor %}
</body>
</html>