<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="filemeta_json" content="{{ filemeta }}" />
    <meta name="dirmeta_json" content="{{ dirmeta }}" />
    <title>{{ title }}</title>
    <style>
        script{
            display:none;
        }
        h1{
            text-align: center;
        }
        .item{
            display: block;
            float: left;
            width:192px;
            height: 210px;
            padding: 4px;
            margin: 4px;
        }
        .item .icon-wrapper{
            height: 144px;
        }
        .item img{
            display: block;
            margin: 0 auto;
        }
        .item .icon .title-wrapper{
            max-height: 58px;
        }
        .item .icon .title-wrapper, a.content-info-link{
            display: block;
            text-align: center;
            width:192px;
            overflow:hidden;
        }
        .item object{
            pointer-events: none;
        }
        form{
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
    <h1>{{ title }}</h1>
    <form action="{{ request.path }}" method="GET">
        <label>python3 glob pattern</label>
        <input type="text" id="glob_string" name="glob">
        <input type="submit" value="Search">
    </form>
    <form class="medialib-search-form" action="/medialib-tag-search">
        Put your tags in fields below:<br/>
        <div id="fields-area">
            <div class="field">
                <input type="checkbox" name="not" value="1" id="not_1_check">
                <input type="hidden" name="not" value="0" id="not_1_hidden">
                <label for="not_1_check">NOT</label>
                <input type="text" name="tags"/>
            </div>
        </div>
        <button id="medialib-add-field">Type more tags</button><br>
        <label for="ml-sorting-order">Sort by:</label>
        <select id="ml-sorting-order" name="sorting_order">
        {% for sort in medialib_sorting %}
            <option value="{{ sort.value }}">{{ sort.name }}</option>
        {% endfor %}
        </select>
        <br/>
        Hidden content
        <select id="ml-hidden_filtering" name="hidden_filtering">
        {% for filter in medialib_hidden_filtering %}
            <option value="{{ filter.value }}">{{ filter.name }}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Search in Medialib database">
        <script>
            let not_checkbox_1 = document.getElementById("not_1_check");
            var not_hidden_1 = document.getElementById("not_1_hidden");
            not_checkbox_1.onchange = function () {
                not_hidden_1.disabled = this.checked;
            }
            var fields_counter = 1;
            document.getElementById("medialib-add-field").onclick = function () {
                wrapper = document.createElement("div");
                wrapper.classList.add("field");
                not_hidden = document.createElement("input");
                not_hidden.type = "hidden";
                not_hidden.name = "not";
                not_hidden.value = "0";
                not_hidden.disabled = false;
                wrapper.appendChild(not_hidden);
                not_checkbox = document.createElement("input");
                not_checkbox.type = "checkbox";
                not_checkbox.name = "not";
                not_checkbox.value = "1";
                not_checkbox.hidden_field = not_hidden;
                fields_counter += 1;
                let not_field_id = "not_"+fields_counter+"_check";
                not_checkbox.id = not_field_id;
                not_checkbox.onchange = function () {
                    this.hidden_field.disabled = this.checked;
                }
                wrapper.appendChild(not_checkbox);
                space_character = document.createTextNode(" ");
                wrapper.appendChild(space_character);
                not_label = document.createElement("label");
                not_label.htmlFor = not_field_id;
                not_label.innerText = "NOT";
                wrapper.appendChild(not_label);
                space_character2 = document.createTextNode(" ");
                wrapper.appendChild(space_character2);
                tag_field = document.createElement("input");
                tag_field.type = "text";
                tag_field.name = "tags";
                wrapper.appendChild(tag_field)
                delete_button = document.createElement("button");
                delete_button.innerText = "Delete field";
                delete_button.onclick = function () {
                    // get wrapper of this button
                    wrapper = this.parentElement;
                    wrapper.parentElement.removeChild(wrapper);
                    return false;
                }
                wrapper.appendChild(delete_button);
                fields_area_wrapper = document.getElementById("fields-area");
                fields_area_wrapper.appendChild(wrapper);
                return false;
            }
        </script>
    </form>
    <div class="itemsgrid">
    {% for item in itemslist %}
        <div class="item">
        {% if item.icon is not none %}
            <a class="icon" href="{{ item.link }}" title="{{ item.name }}">
        {% else %}
            <a href="{{ item.link }}" title="{{ item.name }}">
        {% endif %}
        {% if item.icon is not none %}
            <div class="icon-wrapper">
            {% if item.object_icon %}
                {% if item.lazy_load %}
                    <img class="placeholder" src="/static/images/folder_icon.png"/>
                {% else %}
                    <object data="{{ item.icon }}"></object>
                {% endif %}
            {% else %}
                {% if item.lazy_load %}
                    <img class="placeholder" src="/static/images/img_icon.png"/>
                {%else%}
                    {% if item.sources is not none %}
                        <picture>
                        {% for source in item.sources %}
                            <source srcset="{{ source }}"/>
                        {% endfor %}
                    {% endif %}
                    <img src="{{ item.icon }}"/>
                    {% if item.sources is not none %}
                        </picture>
                    {% endif %}
                {% endif %}
            {% endif %}
            </div>
        {% endif %}
            <div class="title-wrapper">
                {{ item.name }}
            </div>
            </a>
                <a class="content-info-link" href="/content_metadata/{{ item.base32path }}">
                    Content info
                </a>
        </div>
    {% endfor %}
            <div style="clear:left"></div>
    </div>
    {% if pagination %}
        {% if _glob != None %}
            {% if page > 0 %}
                <a href="{{ url }}?glob={{ _glob }}&page={{ page-1 }}">Back</a>
            {% endif %}
            {% if page+1 < max_pages %}
                <a href="{{ url }}?glob={{ _glob }}&page={{ page+1 }}">Next</a>
            {% endif %}
        {% else %}
            {% if page > 0 %}
                <a href="{{ url }}?page={{ page-1 }}{{ args }}">Back</a>
            {% endif %}
            {% if page+1 < max_pages %}
                <a href="{{ url }}?page={{ page+1 }}{{ args }}">Next</a>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if enable_external_scripts %}
        <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
    {% endif %}
    <script src="/static/js/ajax.js"></script>
    <script src="/static/js/videoplayer.js"></script>
    <script src="/static/js/imageViewer.js"></script>
</body>
</html>