<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="filemeta_json" content="{{ filemeta }}" />
    <meta name="dirmeta_json" content="{{ dirmeta }}" />
    <meta name="query_data_json" content="{{ query_data }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/visuals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/index.css') }}">
    <style>
        :root {
            --thumbnail-width: {{ thumbnail.width }}px;
            --thumbnail-height: {{ thumbnail.height }}px;
        }
    </style>
</head>
<body>
    {% include 'modules/header.html' %}
    <h1>{{ title }}</h1>
    <form action="{{ request.path }}" method="GET">
        <label>python3 glob pattern</label>
        <input type="text" id="glob_string" name="glob">
        <input type="submit" value="Search">
    </form>
    <div id="medialib-tag-query-form-placeholder"></div>
    <div class="itemsgrid">
    {% for item in itemslist %}
        <div class="item">
        {% if item.icon is not none %}
            <a class="icon" href="{{ item.link }}" title="{{ item.name }}">
        {% else %}
            <a href="{{ item.link }}" title="{{ item.name }}">
        {% endif %}
        {% if item.icon is not none %}
            <div class="icon-wrapper">
            {% if item.object_icon %}
                <object data="{{ item.icon }}"></object>
            {% else %}
                {% if item.sources is not none %}
                    <picture>
                    {% for source in item.sources %}
                        <source srcset="{{ source }}"/>
                    {% endfor %}
                {% endif %}
                <img src="{{ item.icon }}" loading="lazy"/>
                {% if item.sources is not none %}
                    </picture>
                {% endif %}
            {% endif %}
            </div>
        {% endif %}
            <div class="title-wrapper">
                {% if item.name is not none %}
                    {{ item.name }}
                {%else%}
                    Untitled
                {% endif %}
            </div>
            </a>
                {% if item.content_id is not none %}
                <a class="content-info-link" href="/content_metadata/mlid{{ item.content_id }}">
                    Content info
                </a>
                {%else%}
                <a class="content-info-link" href="/content_metadata/{{ item.base32path }}">
                    Content info
                </a>
                {% endif %}
        </div>
    {% endfor %}
            <div style="clear:left"></div>
    </div>
    {% if _glob != None %}
        {% if page > 0 %}
            <a href="{{ url }}?glob={{ _glob }}&page={{ page-1 }}">Back</a>
        {% endif %}
        {% if page+1 < max_pages %}
            <a href="{{ url }}?glob={{ _glob }}&page={{ page+1 }}">Next</a>
        {% endif %}
    {% else %}
        {% if page > 0 %}
            <a href="{{ url }}?page={{ page-1 }}{{ args }}">Back</a>
        {% endif %}
        {% if page+1 < max_pages %}
            <a href="{{ url }}?page={{ page+1 }}{{ args }}">Next</a>
        {% endif %}
    {% endif %}
    {% if enable_external_scripts %}
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
    {% endif %}
    <script type="application/javascript">
        if(typeof Cookies === 'undefined'){
          document.write(
            decodeURI("%3Cscript src='/static/js-cache/js.cookie.min.js' type='text/javascript'%3E%3C/script%3E")
          );
        }
        if(typeof dashjs === 'undefined'){
          document.write(
            decodeURI("%3Cscript src='/static/js-cache/dash.all.min.js' type='text/javascript'%3E%3C/script%3E")
          );
        }
    </script>
    <script src="/static/js/ajax.js"></script>
    <script src="/static/js/videoplayer.js"></script>
    <script src="/static/dist/imageViewer.bundle.js"></script>
    <script src="/static/dist/tagQueryForm.bundle.js"></script>
</body>
</html>
