<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/visuals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>401 Unauthorized</title>
</head>
<body>
    {% include 'modules/theme-selector.html' %}
    <h1>401 Unauthorized</h1>
    <form method="post" action="/login">
        <label for="login">login</label> <input id="login" type="text" name="login"/>
        <label for="password">password</label> <input id="password" type="password" name="password"/>
        <input type="hidden" name="redirect_to" value="{{ redirect_to }}">
        <label for="clevel">Compatibility level:</label>
        <select id="clevel" name="clevel">
            <option value="0">Level 0: Supercomputer</option>
            <option value="1">Level 1: PC</option>
            <option value="2">Level 2: Smart TV & TV Box</option>
            <option value="3" selected>Level 3: Android smartphone</option>
        </select>
        <script>
            let clevel_field = document.getElementById("clevel");
            let compatibility_level = localStorage.getItem("clevel");
            if (compatibility_level !== null) {
              clevel_field.value = String(compatibility_level);
            }
            clevel_field.onchange = function (event){
              compatibility_level = parseInt(clevel_field.value);
              localStorage.setItem("clevel", compatibility_level);
            }
        </script>
        <label for="ac">Audio Configuration:</label>
        <select id="ac" name="ac">
            <option value="2">Stereo</option>
            <option value="6">5.1</option>
            <option value="8">7.1</option>
        </select>
        <label for="per_page">Items per page:</label>
        <input id="per_page" type="number" name="items_per_page" value="{{ items_per_page }}"/>
        <label for="ts_field">Thumbnail size:</label>
        <select id="ts_field" name="thumbnail_size">
            <option data-width="96">96x72</option>
            <option data-width="108">108x81</option>
            <option data-width="128">128x96</option>
            <option data-width="144">144x108</option>
            <option id="default-thumb-size" data-width="192">192x144</option>
            <option id="large-default-thumb-size" data-width="256">256x192</option>
            <option data-width="384">384x288</option>
            <option data-width="512">512x384</option>
        </select>
        <script>
          let ts_field = document.getElementById("ts_field");
          let screen_width = window.innerWidth;
          let max_thumbnail_size = (screen_width - 32) / 2;
          let max_available_option = null;
          let default_option = null;
          let possible_thumb_message = `max possible thumbnail size: ${max_thumbnail_size}`
          console.log(possible_thumb_message)
          for (let thumbnail_size_option of ts_field) {
            let thumbnail_width = parseInt(thumbnail_size_option.dataset.width);
            if (thumbnail_width <= max_thumbnail_size){
              max_available_option = thumbnail_size_option;
            }else if (thumbnail_width !== 96){
              thumbnail_size_option.disabled = true;
            }
          }
          if (max_available_option === null){
            max_available_option = ts_field.firstElementChild;
          }
          if (screen_width > 1280){
            default_option = document.getElementById("large-default-thumb-size");
          }else if (max_thumbnail_size < 192){
            default_option = max_available_option;
          }else{
            default_option = document.getElementById("default-thumb-size");
          }
          ts_field.selectedIndex = default_option.index;
        </script>
        <input type="submit" value="SIGN IN"/>
    </form>
</body>
</html>