<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>401 Unauthorized</title>
</head>
<body>
    <h1>401 Unauthorized</h1>
    <form method="post" action="/login">
        <label for="login">login</label> <input id="login" type="text" name="login"/><br/>
        <label for="password">password</label> <input id="password" type="password" name="password"/><br/>
        <input type="submit" value="SIGN IN"/>
    </form>
</body>
</html>