<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="filemeta_json" content="{{ filemeta }}" />
    <meta name="dirmeta_json" content="{{ dirmeta }}" />
    <title>Content Duplicates</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/visuals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/index.css') }}">
    <style>
        :root {
            --thumbnail-width: {{ thumbnail.width }}px;
            --thumbnail-height: {{ thumbnail.height }}px;
        }
        .group-action{
            display: block;
            width: 100%;
        }
    </style>
</head>
<body>
    {% include 'modules/header.html' %}
    <h1>Content Duplicates</h1>
    {% for group in duplicated_groups %}
        <h2>[{{ group.value_hash }}]-[{{ group.hue_hash }}]-[{{ group.saturation_hash }}]</h2>
        <div class="itemsgrid">
        {% for item in group.duplicated_images %}
            <div class="item">
            {% if item.content_metadata.icon is not none %}
                <a class="icon" href="{{ item.content_metadata.link }}" title="{{ item.content_id }}">
            {% else %}
                <a href="{{ item.content_metadata.link }}" title="{{ item.content_id }}">
            {% endif %}
            {% if item.content_metadata.icon is not none %}
                <div class="icon-wrapper">
                {% if item.content_metadata.object_icon %}
                    <object data="{{ item.content_metadata.icon }}"></object>
                {% else %}
                    {% if item.content_metadata.sources is not none %}
                        <picture>
                        {% for source in item.content_metadata.sources %}
                            <source srcset="{{ source }}"/>
                        {% endfor %}
                    {% endif %}
                    <img src="{{ item.content_metadata.icon }}" loading="lazy"/>
                    {% if item.content_metadata.sources is not none %}
                        </picture>
                    {% endif %}
                {% endif %}
                </div>
            {% endif %}
                <div class="title-wrapper">
                    {{ item.content_id }}
                    {% if item.is_alternate_version %}
                        (alt)
                    {% endif %}
                </div>
                </a>
                    <a class="content-info-link" href="/content_metadata/mlid{{ item.content_id }}">
                        Content info
                    </a>
            </div>
        {% endfor %}
                <div style="clear:left"></div><br />
            <a class="group-action" href="/medialib/compare-by-hash?vhash={{group.value_hash}}&hhash={{group.hue_hash}}&shash={{group.saturation_hash}}">
                COMPARE
            </a><br />

        </div>
    {% endfor %}
    {% if enable_external_scripts %}
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
    {% endif %}
    <script type="application/javascript">
        if(typeof Cookies === 'undefined'){
          document.write(
            decodeURI("%3Cscript src='/static/js-cache/js.cookie.min.js' type='text/javascript'%3E%3C/script%3E")
          );
        }
    </script>
    <script src="/static/js/ajax.js"></script>
    <script src="/static/js/videoplayer.js"></script>
    <script src="/dist/js/imageViewer.bundle.js"></script>
</body>
</html>