<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Upload file</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/visuals.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/index.css') }}">
    </head>
    <body>
        {% include 'modules/theme-selector.html' %}
        <h1>Upload file to Medialib database</h1>
        <form>
            <label for="image-file-field">Put file here:</label>
            <input type="file" name="image-file" id="image-file-field" />
        </form>
    </body>
</html>