%dark-theme
  color: #aaaaaa
  background-color: #2d2d2d
  font-family: "Noto Sans", "Roboto", "Liberation Sans", sans-serif

  a
    color: #999999

    &:hover
      color: white

  input, textarea, button, select
    background-color: #222222
    color: white
    border-color: #1a1a1a

    border-radius: 5px
    padding: 0.5em

  li
    color: #cccccc

  .wrapper-accent
    background-color: #444
    color: #dbdbdb
    border-style: none
  
  header
    .home-page-link
      background-image: url("../resources/dark_mode_icon.png")
      background-size: 32px 32px
