@use 'dark'

%dark-purple-theme
  @extend %dark-theme

  color: #A8A2AE
  background-color: #2a1d39

  input, textarea, button, select
    background-color: #221431
    border: none
    padding: 0.7em

  div#imageViewer
    background-color: #191122

  .wrapper-accent
    background-color: #3a294d

  header
    .home-page-link
      background-image: url("../resources/dark_pupple_theme_icon.min.svg")
      border-color: purple

      &:hover
        border-color: #e900e9