@use 'dark'

%rarity-theme
  @extend %dark-theme

  color: #20476B
  background-color: #EAEEF0

  a
    color: #3977B8

    &:hover
      color: #4A1767

  input, textarea, button, select
    background-color: #DFE4E3
    color: black
    border-color: #BDC1C2

  li
    color: black

  .wrapper-accent
    background-color: white
    color: #4A1767

  div#imageViewer
    background-color: #4A1767

  header
    .home-page-link
      background-image: url("../resources/rarity_theme_icon.min.svg")
      background-color: #7DD1F5

      &:hover
        background-color: #2696CB
