%twilight-sparkle-theme
  color: #1E093C
  background-color: #CC9CDF
  background-image: url("../resources/ts stars bg2.svg")

  a
    color: #243870

    &:hover
      color: #652D87

  input, textarea, button, select
    background-color: #BF89D1
    color: #1E093C
    border-color: #A46BBD

  li
    color: black
    font-weight: 500

  .wrapper-accent
    background-color: #D6B0E6